@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './partials/reset';
@import './partials/mixin';

body{
    @include flex(column, center, center);
    height: 100vh;
    width: 100%;
    background-color: rgb(195, 247, 229);
    header{
        @include flex(column, center, center);
        span{
            @include flex(row, center, center);
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 2em;
            margin-top: -25vh;
            margin-bottom: 5vh;
        }
        i{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            padding: 10px 15px;
        }
    }
    main {
        @include flex(row, center, center);
        .card {
            border: none solid black;
            margin: px;
        }
        ul.list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        section {
            padding: 10vh 5vw;
            font-size: larger;
            line-height: 1.8;
            border-radius: 15px;
        }
        .active{
            background-color: white;
        }
        .active1{
            background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%) );
        }

}
}